*


.page-content {

width:50% !important;
padding: 10px !important;
float:center !important;
margin-left:250px;

}


element.style {
}

body {

  font-family: 'Cutive Mono', monospace;
  font-size: 0.938em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: rgb(30, 30, 30);
  background-color: rgb(255, 255, 255);
  margin: 2em;
  padding-bottom: 2em;
  float: rightcenter;
}

body {
  background-image: url("B.jpg");
  background-color: #cccccc;
  background-attachment: scroll;
  background-position: center;
}

div {
  text-align: justify;
  text-justify: inter-word;
}



{
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
/*.column {
  float: left;
  width: 45%;
  padding: 10px;
  height: 2000px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

user agent stylesheet
body {
  display: block;
  margin: 8px;
}

element.style {
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.938em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: rgb(30, 30, 30);
  background-color: rgb(255, 255, 255);
  margin: 2em;
  padding-bottom: 2em;
}


element.style {
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  font-family: 'Cutive Mono', monospace;
  font-size: 0.938em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: rgb(30, 30, 30);
  background-color: rgb(255, 255, 255);
  margin: 2em;
  padding-bottom: 2em;
}



.navbar
{
  float: center;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100%

}

.navbar li
{
  display: inline-block;
  color:#868288;
  text-decoration: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
  font-weight: light;

}

.navbar li a{

  color:#868288;
  text-decoration: none;
  padding: 0px 0px;
  margin-right: 0px;
  font-family: 'Cutive Mono', monospace;
  font-size: 12px;
  font-weight: light;
}

.navbar li.active a { /*It stays black when pinchas*/

  color:#868288;
  font-weight: bold;
}

.navbar li.right a {
  text-align: center;
}

.navbar li a:hover /*Black when doing hover*/
{

  color:#868288;
  font-weight: bold;
}
